@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lora:wght@500;600;700&family=Manrope&family=Open+Sans&family=Poppins:wght@300;400;600&family=Roboto:wght@700&display=swap');
header .navbar-nav .nav-link{
    font-family:'Lora', serif !important ;
    font-weight: 500 !important;
    font-size: 18px !important;
}
*{
    box-sizing: border-box;
}
.package h1,
.clients h1,
.faq h1{
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 38px;
}
.about h2{
    font-size: 38px ;
    color: black;
    font-family: 'Lora', serif;
}
.about p{
    font-size: 16px ;
    color: #6C6C6C;
    font-family: 'Open Sans', sans-serif;
}
.about button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
@media (min-width: 769px){
    #home .carousel-caption h2{
        font-size: 72px;
        font-weight: 600;
    }
}
@media (max-width: 768px){
    #home .carousel-caption h2{
        font-size: 64px;
        font-weight: 600;
    }
}
@media (max-width: 575px){
    #home .carousel-caption h2{
        font-size: 54px;
        font-weight: 600;
    }
}
.carousel-item img{
    height:584px;
    object-fit: cover;
}
.carousel-item .carousel-caption{
    top: 35%;
}
.bi-chevron-compact-left,
.bi-chevron-compact-right{
    font-size: 40px;
    font-weight: 700;
    position: absolute;
    top: 45% !important;
}
.carousel-control-prev{
    left: 20px !important;
}
.carousel-control-next{
    right: 20px !important;
}
.about .container > div{
    padding: 20px;
}
.about .container > div img{
    width: 100%;
}
.bi-arrow-right{
    font-weight: 300;
    margin-left: 10px;
}
.package .row .col-md-3{
    box-sizing: border-box;
    border-radius: 20px;
    transition: all 0.5s;
}
.package .row .list-group-item{
    background-color: transparent;
    color: #848199;
}
.package a.btn{
    background-color: #e5f7fd;
}
.package .col-md-3:hover{
    transform: scale(1.025);
    background-image: linear-gradient(rgb(1, 175, 238),rgb(141, 199, 89));
    color: white;
}
.package .row > div:not(.package-heading){
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.package .row > div p.package-heading{
 font-family: 'Roboto', sans-serif;
 font-size: 36px;
 font-weight: 700;
}
.package .row > div h4.package-heading{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
   }
.hot-package {
    position: relative;
}
.hot-package > span{
    position: absolute;
    width: 40px;
    height: 25px;
    right: 20px;
    top: -10px;
    background-color: rgb(241, 61, 41);
    border-radius: 20px;
    font-weight: 700 ;
}
.package a{
transition: all 0.5s;
}
.package a:hover{
 transform: scale(1.1);
}
.clients .card{
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (min-width: 768px){
    .clients .card{
        width: 31%;
    }
}
@media (max-width: 1001px) and (min-width: 769px){
    .package .row{
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .package .row > div{
        width: 50% !important;
        margin-bottom: 50px;
    }
}
.clients .card p:first-child{
    font-size: 16px;
    font-weight: 400;
}
.clients .card .client-name,
.clients .card .profession{
    font-size: 14px;
    font-weight: 600;

}
.clients .card .client-name{
    color: #0C1920;
}
.clients .card .profession{
    color: #747474;
}
.faq .accordion-body p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.faq .accordion-button{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
footer{
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
